/* removes scrollbar */
html, body {
	height: 100%;
	overflow:hidden;
	background-color:#000000;
}

.hero {
	background-color:#000000;
	color:#000000;
	letter-spacing:4px;
	-webkit-font-smoothing:none;
	text-align:center;

	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

@keyframes blink {
	50% {
		color: #d2738a;
		text-shadow: #d2738a 1px 4px 5px;
	}
}

section#about a {
    color: #d2738a;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    letter-spacing: 6px;
    animation: blink 2s ease-in-out infinite;
}

section#about h1 { 
	color:#c1b492;
	margin-bottom: 10px;
	animation: blink 3s ease-in-out infinite;
}

section#about hr {
	border-color: #c1b492;
	display: inline-block;
	width: 206px;
	height: 1px;
	border-style: groove;
	box-shadow: none;
	border-bottom: 0px;
	margin-top: -5px;
	margin-bottom: 15px;
}

section#about h2 {
	color: #c1b492;
	font-size: 11px;
	margin-top: -15px;
	letter-spacing:3px;
	font-family: Times, "Times New Roman", serif;
	font-weight: normal;
	animation: blink 3s ease-in-out infinite;
}

section#about h3 {
	color: #c1b492;
	margin-top: 50px;
	letter-spacing:3px;
	font-family: Times, "Times New Roman", serif;
	font-weight: normal;
}