/* removes scrollbar */
html, body {
	height: 100%;
	overflow:hidden;
	background-color:#000000;
}

.hero {
	background-color:#000000;
	color:#000000;
	letter-spacing:4px;
	-webkit-font-smoothing:none;
	text-align:center;

	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

@keyframes blink {
	50% {
		color: #d2738a;
		text-shadow: #d2738a 1px 4px 5px;
	}
}

section#index a#posts, a#rice, a#music, a#about {
    color: #d2738a;
    padding-left: 5px;
    padding-right: 11px;
}

section#index h1 { 
	color:#c1b492;
	margin-bottom: 10px;
	animation: blink 3s ease-in-out infinite;
}
	
section#index hr {
	border-color: #c1b492;
	display: inline-block;
	width: 190px;
	height: 1px;
	border-style: groove;
	box-shadow: none;
	border-bottom: 0px;
	margin-top: -5px;
	margin-bottom: 15px;
}

section#index h2 {
	color: #c1b492;
	font-size: 11px;
	margin-top: -15px;
	letter-spacing:3px;
	font-family: Times, "Times New Roman", serif;
	font-weight: normal;
	animation: blink 3s ease-in-out infinite;
}

section#index h3 {
	color: #d2738a;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: Times, "Times New Roman", serif;
	font-weight: normal;
}

/*
 * I got this logo/box animation somewhere in 2018-2019;
 * There are minor changes I probably made here but mostly
 * this is not my work.
*/

/* box */
section#index #waifus {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-duration: 3.0s;
	animation-duration: 3.0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: floatUp;
	animation-name: floatUp;
	-webkit-animation-timing-function: cubic-bezier(0, 0.71, 0.29, 1);
	animation-timing-function: cubic-bezier(0, 0.71, 0.29, 1);
	border-radius: 24px;
	display: inline-block;
	height: 240px;
	width: 240px;
	margin-bottom: 5px;
	position: relative;
	vertical-align: top;
	box-shadow: 0 0 0 rgba(100, 100, 100, 0.3), 0 5px 10px rgba(100, 100, 100, 0.3), 0 1px 1px rgba(100, 100, 100, 0.3);
}

section#index #waifupic { height: 220px; margin-top: 19px; border-radius: 13%; }
section#index #eye { margin-top: 0px; margin-bottom: -10px; }

/* animation */
@keyframes floatUp {
	0% {
		opacity: 0;
		box-shadow: 0 0 0 rgba(50, 50, 50, 0.25), 0 0 0 rgba(50, 50, 50, 0.25), 0 0 0 rgba(50, 50, 50, 0.25);
		-webkit-transform: scale(0.86);
		transform: scale(0.86);
	}
	25% { opacity: 100; }
	67% {
		box-shadow: 0 0 0 rgba(100, 100, 100, 0.3), 0 5px 10px rgba(100, 100, 100, 0.3), 0 1px 1px rgba(100, 100, 100, 0.3);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		box-shadow: 0 0 0 rgba(100, 100, 100, 0.4), 0 5px 10px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(100, 100, 100, 0.4);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
