* {
	scrollbar-color: #4e5151 #2b2d2d;
}

html {
	background-color:#000000;
}

.hero {
	background-color:#000000;
	color:#000000;
	letter-spacing:4px;
	-webkit-font-smoothing:none;

	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

@keyframes blink {
	50% {
		color: #d2738a;
		text-shadow: #d2738a 1px 4px 5px;
	}
}

h1.ptitle { 
	color:#c1b492;
	margin-bottom: 0px;
	font-size: 2.25rem;
	animation: blink 3s ease-in-out infinite;
}

hr {
	border-color: #c1b492;
	height: 1px;
	border-style: groove;
	box-shadow: none;
	border-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

hr#ptitle {
	display: inline-block;
	width: 206px;
}

section#post h2 {
	color: #c1b492;
	font-size: 0.8rem;
	margin-top: 0px;
	margin-bottom: -11px;
	letter-spacing:3px;
	font-family: Times, "Times New Roman", serif;
	font-weight: normal;
	animation: blink 3s ease-in-out infinite;
}

section#post h3, li, p {
    color: #c1b492;
    margin: 0px;
    padding: 0px;
    font-size: 0.75rem;
    letter-spacing: 5px;
}

section#post a {
    color: #d2738a;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    letter-spacing: 5px;
}

.hljs {
	background: #121213;
}

div#contentblock {
	max-width: 100%;
	max-block-size: 100%;
	max-inline-size: 100%;
}

pre, code {
	background-color: #18181a;
	border: 1px solid #18181c;
	max-width: 100%;
}
