<!DOCTYPE html>
<html>
	<head>
		<meta name="description" content="Kuma">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Articles</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
		<link rel="stylesheet" type="text/css" href="style/posts.css">
	</head>

	<body>
		<section class="hero" id="posts">
			<div class="hero-body">
				<div class="container has-text-centered">
					<h1 class="title">Articles</h1>

					<div id="separation" class="hr">
						<hr/>
					</div> 

					<h2 id="love_lain" class="title">⌈Are you feel good?⌋</h2>

					<div style="display: inline-block; text-align: left; font-family: monospace;">
						<ul style="list-style-type:disc padding: 0;">
							{%- for post in site.posts limit:post_limit -%}
							<li>
								{%- assign date_format = site.minima.date_format | default: "%Y %b %-d" -%}
								{{ post.date | date: date_format }}
								{%- if post.date.day < 10 -%}
									&nbsp;
								{%- endif -%}
								-
								<a class="post-link" href="{{ post.url | relative_url }}">
								{{ post.title | escape }}
								</a>
							</li>
							{%- endfor -%}
						</ul>
					</div>

					<br><br>
					<a href="https://bearbearsbarebear.github.io/"><img id="eye" class="logo" src="images/wired.gif"></a>
				</div>
			</div>
		</section>
	</body>
</html>
