<!DOCTYPE html>
<html>

<head>
	<meta name="description" content="Kuma">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>L e t ' s a l l l o v e L a i n !</title>

	<style>
		@font-face {
			font-family: "Matrix Font";
			src: url("/font/matrix_font.ttf") format("truetype");
		}

		body {
			margin: 0;
			border: 0;
			padding: 0;
			background-color: black;
			color: #d2738a;
			font-family: "Matrix Font", serif;
			overflow: hidden;
		}

		.column {
			position: absolute;
		}
	</style>
</head>

<body>
	<div id="matrix" style="display:block;"></div>
	<script src="/js/matrix.js"></script>
</body>

</html>
