<!DOCTYPE html>
<html>
	<head>
		<meta name="description" content="Kuma">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
		<link rel="stylesheet" href="/style/base.css">
		{{ block "styles" . }}{{ end }}
		{{ block "scripts" . }}{{ end }}
	</head>

	<body>
		<section class="hero {{ block "hero-class" . }}{{ end }}" id="{{ block "section-id" . }}{{ end }}">
			<div class="hero-body">
				<div class="container has-text-centered responsive-container">
					{{ block "main" . }}{{ end }}

					{{ block "footer" . }}
						<a href="{{ block "return-link" . }}{{ .Site.BaseURL }}{{ end }}">
							<img id="eye" class="logo" src="/images/wired.gif">
						</a>
					{{ end }}
				</div>
			</div>
		</section>
	</body>
</html>

