section#posts hr {
	width: 206px;
}

section#posts h3 {
	color: #c1b492;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	letter-spacing: 6px;
}

section#posts a {
	font-size: 13px;
	letter-spacing: 6px;
	animation: none;
}

section#posts li {
	color: #c1b492;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	letter-spacing: 6px;
}

