section#posts h1 { 
	color:#c1b492;
	margin-bottom: 10px;
	animation: blink 3s ease-in-out infinite;
}

section#posts hr {
	border-color: #c1b492;
	display: inline-block;
	width: 206px;
	height: 1px;
	border-style: groove;
	box-shadow: none;
	border-bottom: 0px;
	margin-top: -5px;
	margin-bottom: 15px;
}

section#posts h2 {
	color: #c1b492;
	font-size: 11px;
	margin-top: -15px;
	margin-bottom: 50px;
	letter-spacing:3px;
	font-family: Times, "Times New Roman", serif;
	font-weight: normal;
	animation: blink 3s ease-in-out infinite;
}

section#posts h3 {
    color: #c1b492;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    letter-spacing: 6px;
}

section#posts a {
    color: #d2738a;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    letter-spacing: 6px;
}

section#posts li {
    color: #c1b492;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    letter-spacing: 6px;
}
