---
layout: default
---

<body>
	<section class="hero" id="post">
		<div class="hero-body">
			<div class="container has-text-centered" style="max-width: calc(900px - (30px * 2)); word-wrap: break-word;">
				<h1 class="ptitle">{{ page.title | escape }}</h1>

				{%- assign date_format = site.minima.date_format | default: "%Y %b %-d" -%}
				<h2 id="love_lain" class="ptitle">⌈{{ page.date | date: date_format }}⌋</h2>

				<div id="separation" class="hr">
					<hr id="ptitle" />
				</div>

				<br><br>

				<div id="contentblock" style="display: inline-block; text-align: left;">
					{{ content }}
				</div>

				<br><br><br>

				<a href="posts.html"><img id="eye" class="logo" src="/images/wired.gif"></a>
			</div>
		</div>
	</section>
</body>
